@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: fallback;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 1 999;
  src: url("/fonts/Outfit-VariableFont_wght.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
}
