@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-display: fallback;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/Outfit-Medium.woff2") format("woff2");
  }

  @font-face {
    font-display: fallback;
    font-family: "Jost";
    font-style: normal;
    font-weight: 100 900;
    src: url("/fonts/Jost-VF.ttf") format("truetype");
  }

  body {
    @apply font-default text-black dark:text-white bg-white dark:bg-black;
  }

  html {
    @apply scroll-smooth;
  }
}
